* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #2e2f42;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

/* reset styles */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Task 1 (START) */
#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 392px;
  margin: 0 auto;
  padding: 24px;
  list-style-type: none;
  border-radius: 8px;
  background-color: #fff;
}

.item > h2 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

#categories > .item {
  padding: 16px;
  border-radius: 8px;
  background-color: #f6f6fe;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item li {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  line-height: 1.5;
}

/* Task 1 (END) */

/* Task 2 (STAR) */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
  max-width: 1440px;
  margin: 0 auto;
}

.gallery img {
  max-width: 360px;
  height: 300px;
  object-fit: cover;
}

/* Task 2 (END)*/

/* Task 3 (START) */
#name-input {
  display: block;
  min-width: 360px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  line-height: 1.5;
}
/* Task 3 (END) */

/* Task 4 (START) */
.login-form {
  max-width: 408px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
}

.login-form input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  line-height: 1.5;
}
.login-form label {
  display: block;
  margin-bottom: 8px;
}

.login-form button {
  display: block;
  margin-top: 16px;
  min-width: 86px;
  padding: 8px 0;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login-form button:hover,
.login-form button:focus {
  background-color: #6c8cff;
}
/* Task 4 (END) */

/* Task 5 (START) */
.widget {
  max-width: 392px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
}

.widget button {
  display: block;
  margin-top: 16px;
  min-width: 148px;
  padding-block: 8px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.widget button:hover,
.widget button:focus {
  background-color: #6c8cff;
}
/* Task 5 (END) */

/* Task 6 (START) */
#controls {
  background-color: #f6f6fe;
  padding: 32px;
  display: flex;
  gap: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

#controls input {
  min-width: 150px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px;
  text-align: center;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.04em;
}
#controls button {
  border: none;
  min-width: 120px;
  padding-block: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button[data-create] {
  background-color: #4e75ff;
}

button[data-create]:hover,
button[data-create]:focus {
  background-color: #6c8cff;
}

button[data-destroy] {
  background-color: #ff4e4e;
}

button[data-destroy]:hover,
button[data-destroy]:focus {
  background-color: #ff6b6b;
}

#boxes {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
/* Task 6 (END) */
